section {
    max-width: 1000px;
    height: 400px;
}

li {
    display: grid;
    grid-template-columns: 500pt, repeat(2, 1fr);
    grid-template-rows: repeat(3, 75px);
    list-style: none;
}

img {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    max-height: 200px;
    padding: 100px;
}

h3, h4, p {
    display: grid;
    grid-column: 2 / 4;
    max-height: 100px;
    text-align: left;
}

h3 {
    font-size: 25px;
    grid-row: 1 /2;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 15px;
}